:root {

    --primary: #f38e82;

    --grad-1: #fbdb89;
    --grad-2: #f48982;

    --grey-light-1: #f9f5f3;
    --grey-light-2: #f2efee;
    --light-3: #d3c7c3;
    --grey-dark-1: #615551;
    --dark-2: #918581;

    font-family: "Ubuntu Sans Mono", monospace;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--grey-light-2);
}

.hero {
    max-width: 1200px;
    margin: auto;
    padding: 32px 16px;
}



.hero .name span {
    color: var(--grey-dark-1);
    font-size: 1.5rem;
    font-weight: 700;
}

.hero h1 {
    color: var(--dark-2);
    font-size: 2rem;
}

.hero p {
    line-height: 3rem;
}

.hero a {
    color: var(--primary);
}

.hero a:hover {
    color: var(--grad-2);
    text-decoration: unset;
}

.contact{
    background-color: var(--primary);    
    padding-block: 4rem;
    
}

.contact section{
    margin-inline: auto;
    text-align: center;
    width: 400px;
}
.contact h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black;
    opacity: 0.8;
}
.contact p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
}
.contact a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--grey-light-1);
    background-color: var(--dark-2);
    padding: 1.2rem;
    border-radius: 8px;
}

.contact a:hover{
    background-color: var(--grey-dark-1);
}